{{include file="../header.html"}}

	<body>
		自己的势力一方的NAVI任务会登场来介绍摇奖相关内容。
		<br />

		{{if $lotto_type eq 2}}
			每日一次免费摇奖说明
			<a href="lotto.php?act=lottoBefore&type=2">每日一次免费摇奖</a>
			<br />
		{{else}}
			友军PT摇奖说明
			<a href="lotto.php?act=lottoBefore&type=3">友军PT摇奖</a>
			<br />
		{{/if}}

		500摇奖说明
		<a href="lotto.php?act=lottoBefore&type=5">500摇奖</a>
		<br />
		300摇奖说明
		<a href="lotto.php?act=lottoBefore&type=4">300摇奖</a>
		<br />

		金票摇奖说明
		<a href="lotto.php?act=lottoBefore&type=7">金票摇奖</a>
		<br />
		银票摇奖说明
		<a href="lotto.php?act=lottoBefore&type=6">银票摇奖</a>
		<br />
		
		<a href="">返回上一页</a>
		<br />
		<a href="login.php?act=login">大戦略首页</a>
	</body>

{{include file="../footer.html"}}