{{include file="../header.html"}}

	<body>
		<div style="height:300px;width:200px;">
			<object data="{{$ui_path}}/flash/placeholder.swf" type="application/x-shockwave-flash" width="240" height="240">
				<param name="loop" value="off" />
				<param name="quality" value="high" />
			</object>
		</div>
		<form action="lotto.php">
			<input type="hidden" name="act" value="lottoGet" />
			<input type="hidden" name="type" value="{{$type}}" />
			<input type="hidden" name="soldier_id" value="{{$soldier_id}}" />
			<input type="submit" value="继续">
		</form>
	</body>

{{include file="../footer.html"}}