<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<pre>
第{{$uArmy.army_id}}部隊の編成
編成ｺｽﾄ：{{$uArmy.armyCost}}/{{$uArmy.uCost}}
総攻撃力：{{$uArmy.attack}}
総防御力：{{$uArmy.defense}}
<br />
*************************
{{foreach from=$uArmy.member key=key item=soldier}}
士官名：{{$soldier.soldier_name}}
LV：{{$soldier.level}}
武器名：{{$soldier.weapon_name}}
攻击力：{{$soldier.attack * $soldier.weapon_count}}
防御力：{{$soldier.defense * $soldier.weapon_count}}
兵器数{{$soldier.weapon_count}}/{{$soldier.weapon_count_limit}}
*************************
{{/foreach}}
<br />
*****************************************************************************************************************************
*****************************************************************************************************************************
*****************************************************************************************************************************
<br />
第{{$f_uArmy.army_id}}部隊の編成
編成ｺｽﾄ：{{$f_uArmy.armyCost}}/{{$f_uArmy.uCost}}
総攻撃力：{{$f_uArmy.attack}}
総防御力：{{$f_uArmy.defense}}
<br />
*************************
{{foreach from=$f_uArmy.member key=key item=soldier}}
士官名：{{$soldier.soldier_name}}
LV：{{$soldier.level}}
武器名：{{$soldier.weapon_name}}
攻击力：{{$soldier.attack * $soldier.weapon_count}}
防御力：{{$soldier.defense * $soldier.weapon_count}}
兵器数{{$soldier.weapon_count}}/{{$soldier.weapon_count_limit}}
*************************
{{/foreach}}
<a href="war.php?op=act::pvp_do;aid::{{$uArmy.army_id}};fid::{{$fid}}">
戦闘結果を見る
</a>
</pre>
</body>
</html>
