{{include file="../header.html"}}

	<body style="top:0px; left:0px;">
		大戦略へようこそ！
		<br />
		まずはあなたの所属する勢力を
		<br />
		選んでください
		<br />

		<a href="new_login.php?sect_id=1&step=4"><img id="subbtn" src="{{$ui_path}}submit.png" style="border:0px; height:35px; width:162px; " /></a>
		<br />
		A.R.C.の紹介文
		<br />

		<a href="new_login.php?sect_id=2&step=4"><img id="subbtn" src="{{$ui_path}}submit.png" style="border:0px; height:35px; width:162px; " /></a>
		<br />
		I.C.E.の紹介文
		<br />

		<a href="new_login.php?sect_id=3&step=4"><img id="subbtn" src="{{$ui_path}}submit.png" style="border:0px; height:35px; width:162px; " /></a>
		<br />
		F.O.X.の紹介文

		<br /><br />
		<a href="new_login.php?step=1">使大戦略トップへ</a>
	</body>

{{include file="../footer.html"}}