{{include file="../header.html"}}

	<body style="top:0px; left:0px;">
		<pre>
			第一部隊

			{{if $user_armies.member.1}}
				'army_id' => {{$user_armies.member.1.army_id}}
				'attack' => {{$user_armies.member.1.attack}}
				'combination_count' => {{$user_armies.member.1.combination_count}}
				'cost' =>{{$user_armies.member.1.cost}}
				'ctime' => {{$user_armies.member.1.ctime}}
				'defense' => {{$user_armies.member.1.defense}}
				'delmark' => {{$user_armies.member.1.delmark}}
				'exp' => {{$user_armies.member.1.exp}}
				'gf' => {{$user_armies.member.1.gf}}
				'hp' => {{$user_armies.member.1.hp}}
				'id' => {{$user_armies.member.1.id}}
				'level' => {{$user_armies.member.1.level}}
				'level_limit' => {{$user_armies.member.1.level_limit}}
				'medal' => {{$user_armies.member.1.medal}}
				'nation' => {{$user_armies.member.1.nation}}
				'skill_description' => {{$user_armies.member.1.skill_description}}
				'skill_effect_val' => {{$user_armies.member.1.skill_effect_val}}
				'skill_effect_val_add' => {{$user_armies.member.1.skill_effect_val_add}}
				'skill_id' => {{$user_armies.member.1.skill_id}}
				'skill_launch_rate' => {{$user_armies.member.1.skill_launch_rate}}
				'skill_launch_rate_add' => {{$user_armies.member.1.skill_launch_rate_add}}
				'skill_level' => {{$user_armies.member.1.skill_level}}
				'skill_name' => {{$user_armies.member.1.skill_name}}
				'skill_obj_effect' => {{$user_armies.member.1.skill_obj_effect}}
				'skill_obj_nation' => {{$user_armies.member.1.skill_obj_nation}}
				'skill_obj_way' => {{$user_armies.member.1.skill_obj_way}}
				'skill_obj_weapon' => {{$user_armies.member.1.skill_obj_weapon}}
				'soldier_description' => {{$user_armies.member.1.soldier_description}}
				'soldier_id' => {{$user_armies.member.1.soldier_id}}
				'soldier_name' => {{$user_armies.member.1.soldier_name}}
				'soldier_nickname' => {{$user_armies.member.1.soldier_nickname}}
				'sort' => {{$user_armies.member.1.sort}}
				'star' => {{$user_armies.member.1.star}}
				'uuid' =>{{$user_armies.member.1.uuid}}
				'weapon_count' => {{$user_armies.member.1.weapon_count}}
				'weapon_count_addtype' => {{$user_armies.member.1.weapon_count_addtype}}
				'weapon_count_limit' => {{$user_armies.member.1.weapon_count_limit}}
				'weapon_description' => {{$user_armies.member.1.weapon_description}}
				'weapon_id' => {{$user_armies.member.1.weapon_id}}
				'weapon_level' => {{$user_armies.member.1.weapon_level}}
				'weapon_name' => {{$user_armies.member.1.weapon_name}}
			{{/if}}

			{{if $user_armies.member.2}}
				'army_id' => {{$user_armies.member.2.army_id}}
				'attack' => {{$user_armies.member.2.attack}}
				'combination_count' => {{$user_armies.member.2.combination_count}}
				'cost' =>{{$user_armies.member.2.cost}}
				'ctime' => {{$user_armies.member.2.ctime}}
				'defense' => {{$user_armies.member.2.defense}}
				'delmark' => {{$user_armies.member.2.delmark}}
				'exp' => {{$user_armies.member.2.exp}}
				'gf' => {{$user_armies.member.2.gf}}
				'hp' => {{$user_armies.member.2.hp}}
				'id' => {{$user_armies.member.2.id}}
				'level' => {{$user_armies.member.2.level}}
				'level_limit' => {{$user_armies.member.2.level_limit}}
				'medal' => {{$user_armies.member.2.medal}}
				'nation' => {{$user_armies.member.2.nation}}
				'skill_description' => {{$user_armies.member.2.skill_description}}
				'skill_effect_val' => {{$user_armies.member.2.skill_effect_val}}
				'skill_effect_val_add' => {{$user_armies.member.2.skill_effect_val_add}}
				'skill_id' => {{$user_armies.member.2.skill_id}}
				'skill_launch_rate' => {{$user_armies.member.2.skill_launch_rate}}
				'skill_launch_rate_add' => {{$user_armies.member.2.skill_launch_rate_add}}
				'skill_level' => {{$user_armies.member.2.skill_level}}
				'skill_name' => {{$user_armies.member.2.skill_name}}
				'skill_obj_effect' => {{$user_armies.member.2.skill_obj_effect}}
				'skill_obj_nation' => {{$user_armies.member.2.skill_obj_nation}}
				'skill_obj_way' => {{$user_armies.member.2.skill_obj_way}}
				'skill_obj_weapon' => {{$user_armies.member.2.skill_obj_weapon}}
				'soldier_description' => {{$user_armies.member.2.soldier_description}}
				'soldier_id' => {{$user_armies.member.2.soldier_id}}
				'soldier_name' => {{$user_armies.member.2.soldier_name}}
				'soldier_nickname' => {{$user_armies.member.2.soldier_nickname}}
				'sort' => {{$user_armies.member.2.sort}}
				'star' => {{$user_armies.member.2.star}}
				'uuid' =>{{$user_armies.member.2.uuid}}
				'weapon_count' => {{$user_armies.member.2.weapon_count}}
				'weapon_count_addtype' => {{$user_armies.member.2.weapon_count_addtype}}
				'weapon_count_limit' => {{$user_armies.member.2.weapon_count_limit}}
				'weapon_description' => {{$user_armies.member.2.weapon_description}}
				'weapon_id' => {{$user_armies.member.2.weapon_id}}
				'weapon_level' => {{$user_armies.member.2.weapon_level}}
				'weapon_name' => {{$user_armies.member.2.weapon_name}}
			{{/if}}

			{{if $user_armies.member.3}}
				'army_id' => {{$user_armies.member.3.army_id}}
				'attack' => {{$user_armies.member.3.attack}}
				'combination_count' => {{$user_armies.member.3.combination_count}}
				'cost' =>{{$user_armies.member.3.cost}}
				'ctime' => {{$user_armies.member.3.ctime}}
				'defense' => {{$user_armies.member.3.defense}}
				'delmark' => {{$user_armies.member.3.delmark}}
				'exp' => {{$user_armies.member.3.exp}}
				'gf' => {{$user_armies.member.3.gf}}
				'hp' => {{$user_armies.member.3.hp}}
				'id' => {{$user_armies.member.3.id}}
				'level' => {{$user_armies.member.3.level}}
				'level_limit' => {{$user_armies.member.3.level_limit}}
				'medal' => {{$user_armies.member.3.medal}}
				'nation' => {{$user_armies.member.3.nation}}
				'skill_description' => {{$user_armies.member.3.skill_description}}
				'skill_effect_val' => {{$user_armies.member.3.skill_effect_val}}
				'skill_effect_val_add' => {{$user_armies.member.3.skill_effect_val_add}}
				'skill_id' => {{$user_armies.member.3.skill_id}}
				'skill_launch_rate' => {{$user_armies.member.3.skill_launch_rate}}
				'skill_launch_rate_add' => {{$user_armies.member.3.skill_launch_rate_add}}
				'skill_level' => {{$user_armies.member.3.skill_level}}
				'skill_name' => {{$user_armies.member.3.skill_name}}
				'skill_obj_effect' => {{$user_armies.member.3.skill_obj_effect}}
				'skill_obj_nation' => {{$user_armies.member.3.skill_obj_nation}}
				'skill_obj_way' => {{$user_armies.member.3.skill_obj_way}}
				'skill_obj_weapon' => {{$user_armies.member.3.skill_obj_weapon}}
				'soldier_description' => {{$user_armies.member.3.soldier_description}}
				'soldier_id' => {{$user_armies.member.3.soldier_id}}
				'soldier_name' => {{$user_armies.member.3.soldier_name}}
				'soldier_nickname' => {{$user_armies.member.3.soldier_nickname}}
				'sort' => {{$user_armies.member.3.sort}}
				'star' => {{$user_armies.member.3.star}}
				'uuid' =>{{$user_armies.member.3.uuid}}
				'weapon_count' => {{$user_armies.member.3.weapon_count}}
				'weapon_count_addtype' => {{$user_armies.member.3.weapon_count_addtype}}
				'weapon_count_limit' => {{$user_armies.member.3.weapon_count_limit}}
				'weapon_description' => {{$user_armies.member.3.weapon_description}}
				'weapon_id' => {{$user_armies.member.3.weapon_id}}
				'weapon_level' => {{$user_armies.member.3.weapon_level}}
				'weapon_name' => {{$user_armies.member.3.weapon_name}}
			{{/if}}
			
			'uCost' => {{$user_armies.uCost}}
			'armyCost' => {{$user_armies.armyCost}}
			'attack' => {{$user_armies.attack}}
			'defense' => {{$user_armies.defense}}


			'uuid' => {{$user_session.uuid}}
		    'nickname' => {{$user_session.nickname}}
		    'level' => {{$user_session.level}}
		    'exp' => {{$user_session.exp}}
		    'coin' => {{$user_session.coin}}
		    'energy' => {{$user_session.energy}}
		    'hp' => {{$user_session.hp}}
		    'max_soldier_count' => {{$user_session.max_soldier_count}}
		    'max_energy_count' => {{$user_session.max_energy_count}}
		    'max_cost_count' => {{$user_session.max_cost_count}}
		    'max_friend_count' => {{$user_session.max_friend_count}}
		    'next_exp' => {{$user_session.next_exp}}


			<!--運営からのお知らせ-->

			EVENT
			{{foreach from=$event_all item=event_all_i}}
				<a href="login.php?act=event&event_id={{$event_all_i.event_id}}">{{$event_all_i.title}}</a>
				<br />
			{{/foreach}}
			
			<!--
			<a href="">领取礼物</a>
			<a href="">ガチャ誘導バナー</a>

			战斗履历列表
			<a href="">全部</a>
			-->

			<a href="mission.php?op=act::area;id::1">作戦モード</a>
			<a href="army.php?op=act::list">部隊編成</a>
			<a href="strategy.php?op=act::index">大戦略</a>
			<a href="shop.php?act=list">shop</a>


			祝砲の履歴

			{{foreach from=$friend item=friend_i}}
				<a href="">{{$friend_i.nickname}}</a>
				{{$friend_i.adddate}}
				{{$friend_i.content}}
			{{/foreach}}
			<a href="message.php?act=hello_all">もっと見る</a>
		</pre>

		<a href="login.php?act=login">大戦略トップへ</a>
	</body>

{{include file="../footer.html"}}